In [5]:
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime

%matplotlib inline

In [10]:
# battery lives are indicated by "short", "long" and "solar", for 2600 mAh, 5200 mAh, and solar.

def as_datetime(x):
    return datetime(x.year, x.month, x.day, x.hour, x.minute, x.second)

def read_data(handle):
    df = pd.read_csv(handle, header=None)
    df.columns = ['tracker_id', 'dB', 'year', 'month', 'day', 'hour', 'minute', 'second']
    df['date'] = df.apply(lambda x: as_datetime(x), axis=1)
    return df

long = read_data('bt5_5200mAh.csv')
short = read_data('bt6_2600mAh.csv')
solar = read_data('bt7_solar.csv')

In [16]:
# What are the time deltas of data collection?
long_td = long['date'].max() - long['date'].min()
short_td = short['date'].max() - short['date'].min()
solar_td = solar['date'].max() - solar['date'].min()

print('5200 mAh: {0}'.format(long_td))
print('2600 mAh: {0}'.format(short_td))
print('Solar power: {0}'.format(solar_td))

5200 mAh: 0 days 09:45:21
2600 mAh: 0 days 04:50:04
Solar power: 0 days 02:02:07

In [17]:
long.head()

,tracker_id,dB,year,month,day,hour,minute,second,date
0,F4:B8:5E:C4:56:22,-68,2015,12,22,13,2,15,2015-12-22 13:02:15
1,F4:B8:5E:C4:56:22,-68,2015,12,22,13,2,25,2015-12-22 13:02:25
2,F4:B8:5E:C4:56:22,-65,2015,12,22,13,2,35,2015-12-22 13:02:35
3,F4:B8:5E:C4:56:22,-68,2015,12,22,13,2,46,2015-12-22 13:02:46
4,F4:B8:5E:C4:56:22,-68,2015,12,22,13,2,57,2015-12-22 13:02:57